# IntelliJ:
/.idea/**
/*.iml

# Python ephemerals:
**/__pycache__/
**/*.pyc

# Documentation/Sphinx:
/sphinx/.doctrees/
/sphinx/*.inv
/sphinx/*.inv.txt

# Test and Example side-effects:
/.cache/
/tests/data/whoosh_index/
/examples/example_data/whoosh_index/
