# IntelliJ:
/.idea/**
/*.iml

# Python ephemerals:
**/.cache/
**/__pycache__/
**/*.pyc

# Documentation/Sphinx:
/sphinx/.doctrees/
/sphinx/*.inv
/sphinx/*.inv.txt
/docs/

/tests/data/whoosh_index/
/examples/example_data/whoosh_index/
